
@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>

<p>@Html.ActionLink("Morgenmad", "Meals", "User", new { id = ""}, new { @class = "btn btn-default" })</p>
<p>@Html.ActionLink("Middagsmad", "", "", new { @class = "btn btn-default" })</p>
<p>@Html.ActionLink("Aftensmad", "", "", new { @class = "btn btn-default" })</p>
<p>@Html.ActionLink("Mellemmåltid", "", "", new { @class = "btn btn-default" })</p>

